.navbar,
.nav-holder {
  height: 90px;
  background-color: var(--txt-two);
  border-bottom: 1px solid var(--txt-one);
  /* padding: 0; */
}
.nav-holder {
  color: var(--txt-one);
  background-color: var(--txt-two);
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0;
  background-color: #036b;
  border-radius: 15px;
}
.logo-sec > a {
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.logo-img {
  object-fit: contain;
  height: 60px;
  width: 100%;
  scale: 2.75;
}

.link-sec a {
  color: var(--txt-one);
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.link-sec a:hover {
  color: var(--txt-two);
  background-color: var(--bg-two);
}

.menu-sec > a {
  border: 0;
  box-sizing: border-box;
  width: fit-content;
  padding: 0 !important;
  height: 48px !important;
  text-decoration: none;
  translate: -10px 0;
}
.menu-sec > a > i,
.menu-sec > a > i::before {
  display: block;
  padding: 0 !important;
  font-size: 48px;
  color: var(--txt-one);
  height: 48px !important;
}
.menu-sec > a > i::before {
  scale: 1.4;
}

.offcanvas {
  background-color: var(--txt-two);
  max-width: 100%;
  min-width: 50%;
}
.offcanvas .offcanvas-header .btn-close {
  margin-right: 0;
}
.offcanvas .offcanvas-header {
  height: 90px;
  border-bottom: 1px solid var(--txt-one);
}
.offcanvas .logo-sec {
  margin: 10px auto;
}
.offcanvas .offcanvas-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.offcanvas-links ul {
  width: 100%;
  max-width: 500px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.offcanvas-links ul hr {
  width: 100%;
  height: 4px;
  background-color: var(--navy);
  opacity: 0.9;
  border-radius: 2px;
}
.offcanvas-links li {
  width: 100%;
  text-align: center;
  margin: 7.5px 0;
}
.offcanvas-links a {
  background-color: var(--bg-one);
  color: var(--txt-one);
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 28px;
  padding: 10px 0;
  margin: 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.offcanvas-links a:hover {
  background-color: var(--bg-two);
  color: var(--txt-two);
}
