<nav class="navbar fixed-top bg-dark">
  <div class="container row">
    <div
      class="logo-sec col-5 col-md-3 mx-auto"
    >
      <a href="#">
        <img class="logo-img" src="/assets/logos/logo.png" alt="Logo" />
      </a>
    </div>
    <div
      class="link-sec d-none d-md-flex col-9 mx-auto row row-cols-6 align-items-center justify-content-center"
    >
      <div class="col text-center">
        <a class="" href="#">Home</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Products</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Cart</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Orders</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Profile</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Logout</a>
      </div>
    </div>
    <div class="menu-sec d-flex d-md-none row col-7 justify-content-end">
      <a class="text-white mr-2" href="#"><i class="bi bi-list"></i></a>
    </div>
  </div>
</nav>

<div class="nav-holder"></div>

<div class="test"></div>
