<!-- Navbar Component -->
<div class="navbar fixed-top">
  <!-- Navbar Content -->
  <div class="container row">
    <!-- Logo -->
    <div class="logo-sec col-6 col-md-3 mx-auto">
      <a href="#">
        <img class="logo-img" src="/assets/logos/logo.png" alt="Logo" />
      </a>
    </div>
    <!-- Links' List -->
    <div
      class="link-sec d-none d-lg-flex col-9 mx-auto row align-items-center justify-content-evenly"
    >
      <div class="col text-center">
        <a class="" href="#">Home</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Products</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Cart</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Orders</a>
      </div>
      <div class="col text-center">
        <a class="" href="#">Logout</a>
      </div>
    </div>
    <!-- Off-Canvas Menu -->
    <div class="menu-sec d-flex d-lg-none row col-6 justify-content-end">
      <!-- Off-Canvas Menu Toggle -->
      <a
        class="navbar-toggler text-white mr-2"
        data-bs-toggle="offcanvas"
        href="#offcanvasNavbar"
        role="button"
        aria-controls="offcanvasNavbar"
        ><i class="bi bi-list"></i
      ></a>
      <!-- Off-Canvas Menu Body -->
      <div
        class="offcanvas offcanvas-start p-0"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <div class="logo-sec col-8">
            <a href="#">
              <img class="logo-img" src="/assets/logos/logo.png" alt="Logo" />
            </a>
          </div>
          <button
            type="button"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            class="btn-close btn-close-black shadow-none"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div class="offcanvas-links text-white">
            <ul>
              <li>
                <a
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                  class=""
                  routerLink="/"
                  >Home</a
                >
              </li>
              <li>
                <a
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                  class=""
                  routerLink="/explore"
                  >Explore</a
                >
              </li>
              <li>
                <a
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                  class=""
                  routerLink="/"
                  >Cart</a
                >
              </li>
              <li>
                <a
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                  class=""
                  routerLink="/"
                  >Orders</a
                >
              </li>
              <li>
                <a
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                  class=""
                  routerLink="/"
                  >Profile</a
                >
              </li>
              <li><hr /></li>
              <li><a class="sign-btn" routerLink="/">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- A holding space for Navbar -->
<div class="nav-holder"></div>
