<app-navbar></app-navbar>

<div class="landing py-5">
  <div class="container text-white">
    <h1 class="gold-gradient-text mb-4">Welcome to Our Website</h1>
    <p>
      Your one-stop solution for all your needs, Explore our services and
      offerings,
      <span class="gold-gradient-text">
        designed to cater to your requirements
      </span>
      .
    </p>
    <p class="">
      Join us today and experience the difference,
      <span class="gold-gradient-text">and be part of our community</span>.
    </p>
    <p class="mt-4">
      <span class="gold-gradient-text">Sign up now</span> to get exclusive
      access to our latest features and updates.
    </p>
    <button class="gold-gradient p-3 mt-3 ms-3">
      <span class="gold-gradient-text">Get Started &nbsp;<i class="bi bi-check-circle gold-gradient-text fs-5"></i></span>
    </button>
  </div>
</div>

<!-- A div to test scrolling -->
<div
  id="trial"
  class="test bg-no-art-two d-flex flex-column justify-content-center align-items-center"
>
  <h3 class="gold-gradient-text">Golden Gradient Title</h3>
  <button class="gold-gradient p-3">
    <span class="gold-gradient-text">Subscribe &nbsp;<i class="bi bi-check-circle gold-gradient-text fs-5"></i></span>
  </button>
</div>
<div class="test bg-art-one"></div>

<app-footer></app-footer>
