footer {
  /* height: 350px; */
  background-color: var(--bg-one);
  border-top: 1px solid var(--txt-one);
  color: var(--txt-one);
}

footer .footer-content > div {
  display: flex;
}

footer .link-list {
  width: fit-content;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  padding-inline-start: 20px;
}
footer .link-list hr {
  opacity: 0.9;
  width: 130%;
  background-color: var(--navy);
  height: 2px;
  margin: 5px 0;
  border: none;
  border-radius: 1px;
}
footer .link-list li {
  margin-bottom: 5px;
}
footer .link-list a:hover {
  background-color: var(--bg-two);
  color: var(--txt-two);
  transition: var(--transition-one);
}
footer .link-list a {
  padding: 2px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--txt-one);
  text-align: center;
  margin: 0;
}
footer .contact-info {
  width: fit-content;
  padding-inline-start: 20px;
}
footer .contact-info > div {
  gap: 25px;
  font-size: 16px;
  margin-bottom: 10px;
}
footer .footer-content h2 {
  font-family: "Roboto";
  font-weight: 500;
  color: var(--txt-one);
  margin-bottom: 16px;
}
footer .footer-content pre,
footer .footer-content p {
  font-family: "Roboto";
  color: var(--txt-one);
  margin-bottom: 8px;
}

footer .social-text {
  padding: 0;
}
footer .social-icons {
  display: flex;
  gap: 12px;
  flex-direction: row;
}
footer .social-icons a {
  display: flex;
}
footer .social-icons a > i {
  color: #003366c5;
  font-size: 2rem;
}
footer .social-icons a > i:hover {
  color: var(--txt-one);
}
footer .foot-note {
  width: 100%;
  background-color: var(--bg-two);
  color: var(--txt-two);
}
